<div class="row">
  <div class="col-md-4">
    <img src="{{#if viewedUser.image}}{{ viewedUser.image }}{{else}}https://seekicon.com/free-icon-download/person_1.svg{{/if}}"
    class="img-fluid rounded-start" alt="user avatar">
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <h1 class="card-title"><strong>{{ viewedUser.name }}</strong></h1>
      <p class="card-text mb-3"><strong>{{ viewedUser.email }}</strong></p>
      <p class="card-text m-0"><strong>{{viewedUser.Comments.length}}</strong>已評論餐廳</p>
      <p class="card-text m-0"><strong>{{viewedUser.FavoritedRestaurants.length}}</strong>收藏的餐廳</p>
      <p class="card-text m-0"><strong>{{viewedUser.Followings.length}}</strong>追蹤中</p>
      <p class="card-text m-0"><strong>{{viewedUser.Followers.length}}</strong>粉絲</p>

      {{#ifCond viewedUser.id currentUser.id}}
      <a href="/users/{{ viewedUser.id }}/edit" class="btn btn-primary">edit</a>
      {{/ifCond}}
    </div>
  </div>
</div>

<div class="row" style="text-align: left;">
  <div class="col-md-5">
    <div class="card">
      <div class="card-header">
        {{viewedUser.Followings.length}} 追蹤中
      </div>
      <div class="row">
        {{#each viewedUser.Followings}}
        <div class="col-md-2 m-1">
          <a href="/users/{{this.id}}">
            <img class="card-img-top img-fluid"
              src="{{#if this.image}}{{this.image}}{{else}}https://seekicon.com/free-icon-download/person_1.svg{{/if}}"
              width="286px" height="286px" >
          </a>
        </div>
        {{/each}}
      </div>
    </div>
    
    <div class="card">
      <div class="card-header">
        {{viewedUser.Followers.length}} 粉絲
      </div>
      <div class="row">
        {{#each viewedUser.Followers}}
        <div class="col-md-2 m-1">
          <a href="/users/{{this.id}}">
            <img class="card-img-top img-fluid"
              src="{{#if this.image}}{{this.image}}{{else}}https://seekicon.com/free-icon-download/person_1.svg{{/if}}"
              width="286px" height="286px" >
          </a>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-md-7">

    <div class="card">
      <div class="card-header">
        {{viewedUser.Comments.length}} 已評論餐廳
      </div>

      <div class="card-body row">
        {{#each viewedUser.commentedRestaurants}}
        <div class="col-4 col-md-2 m-1">
          <a href="/restaurants/{{this.id}}">
            <img class="img-fluid d-block mx-auto" src="{{this.image}}" title="{{this.name}}" alt="{{this.name}}">
          </a>
        </div>
        {{/each}}
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        {{viewedUser.FavoritedRestaurants.length}} 收藏的餐廳
      </div>
      <div class="row">
        {{#each viewedUser.FavoritedRestaurants}}
        <div class="col-md-2 m-1">
          <a href="/restaurants/{{this.id}}">
            <img class="img-fluid d-block mx-auto" src="{{this.image}}" title="{{this.name}}" alt="{{this.name}}">
          </a>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>